header {

}

.first-name {
    margin-top: 24px;
    margin-left: 34px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #181818;
}

.last-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

ul {
    margin-top: 23px;
    margin-left: 200px;
    list-style-type: none;
    display: inline-block;
    background-color: green;
    
    
}

li {
    display: inline-block;
}

li a { 

    text-align: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgba(6, 6, 6, 0.44);

}