

.first-name {
    margin-top: 24px;
    margin-left: 34px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #181818;
}

.last-name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

ul {
    margin-top: 23px;
    margin-left: 200px;
    list-style-type: none;
    display: inline-block;
    
    
}

li {
    display: inline-block;
    width: 95px;
}

li a { 

    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgba(6, 6, 6, 0.44);

}

section {
    display: inline-block;
}


.top-txt {
    margin-top: 75px;
    margin-left: 91px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: rgba(6, 6, 6, 0.44);
}

h1 {
    margin-top: 47px;
    margin-left: 83px;
    max-width: 357px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
}

.bot-txt {
    margin-left: 83px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

.left-btn {
    margin-top: 45px;
    margin-left: 83px;
    background-color: #FF73B4;
    box-shadow: 0px 15px 23px rgba(255, 115, 180, 0.38);
    border-radius: 8.5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 12px;
}

.right-btn {
    margin-left: 19px;
    background-color: #5754C5;
    box-shadow: 0px 15px 20px rgba(65, 122, 189, 0.25);
    border-radius: 8.5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 12px 22px;
}

button {
    border: none;
}